*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
  text-align: left;
}

ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 47%;
  padding-top: 8px;
}
.container-summary {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  justify-content: center;
}
.information {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;

  padding-right: 50px;
  text-align: left;
}

.property {
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: auto;
  text-align: left;

  padding-left: 50px;
}
.person {
  padding-bottom: 24px;
}
.my-name {
  font-size: 3em;
  text-align: left;
  margin: 16px 0;
}
.rol {
  font-size: 1.5em;
  text-align: left;
}
.section-summary {
  padding-bottom: 24px;
}
.section-project {
  padding-bottom: 24px;
}
